$width : 100px;
$height: 50px;
$font : 'Poppins';
$primary: rgb(171, 10, 10);

@font-face {
    font-family: "LanaTurner";
    src: url('../assets/fonts/Silver\ Christmas\ -\ Personal\ Use.otf') format('truetype');
}

@font-face {
    font-family: "Lana";
    src: url('../assets/fonts/Christmas\ Squad\ -\ Personal\ Use.otf') format('truetype');
}

.Card
{
   
    font-family: $font;
    justify-content: center;
    justify-content: center;
    &-Form
    {
        display: flex;
        flex-direction: column;

        &-Label
        {
            text-align: left;
        }

        &-Input
        {
           width: 500px; 
           margin-top: 10px;
           outline: none;
           border: none;
           border-bottom: 0.5px solid rgb(150, 150, 150);
           font-family: $font;
        }

        &-Buttons
        {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            margin-top: 20px;

            &-BNext
            {
                height: $height - 20;
                width: $height - 20;
                border-radius: 5px;
                margin-left: 150px;
                text-align: center;
                background-color: $primary;
                color: white;
            }  

            &-BBack 
            {
                height: $height - 20;
                width: $height - 20;
                background-color: black;
                border: 1px solid black;
                
            }
        }
    }
}


.Welcome
{
    position: relative;
    top: -50px;
}


.Welcome h1 
{
    font-family: "LanaTurner";
    color: rgb(171, 10, 10);
}



.C1
{ 
    position: relative;
    top: -32px;
    left: -237px;
    
    &-img
    {
        height: 100px;
    } 
}

strong
{
    font-family: "Lana";
    font-size: 40px;

}

.e 
{
    position: relative;
    top:-30px;
    right :-230px,
}

@media screen and (min-width:180px) and (max-width: 249px)
{
    .Card
    {
        &-Form 
        {
            &-Input
            {
                width: 170px;
            }

            &-Buttons
            {
                &-BNext 
                {
                    position: relative;
                    left: -20px;
                }
            }
        }
    }    

    .e 
    {
        right: -80px;
    }
}

@media screen and (min-width:250px) and (max-width: 309px)
{
    .Card
    {
        &-Form 
        {
            &-Input
            {
                width: 200px;
            }
        }
    }    

    .e 
    {
        right: -80px;
    }
}

@media screen and (min-width:310px) and (max-width: 369px)
{
    .Card
    {
        &-Form 
        {
            &-Input
            {
                width: 270px;
            }
        }
    }    

    .e 
    {
        right: -100px;
    }
}

@media screen and (min-width:370px) and (max-width: 444px)
{
    .Card
    {
        &-Form 
        {
            &-Input
            {
                width: 320px;
            }
        }
    }    

    .e 
    {
        right: -150px;
    }
}

@media screen and (min-width:445px) and (max-width: 550px)
{
    .Card
    {
        &-Form 
        {
            &-Input
            {
                width: 380px;
            }
        }
    }    

    .e 
    {
        right: -150px;
    }
}

